.rsvp {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('BackGround.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}